<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.title(${invoiceData.number})}">Invoice</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:utext="#{email.greeting(${invoiceData.companyName})}">
    Dear
</p>
<p th:utext="#{email.paragraph(${invoiceData.fileName})}">
    email paragraph
</p>
<p>
<div th:utext="#{email.closing}"></div>
<em th:utext="#{email.signature}">
    email signature
</em>
</p>
</body>
</html>
